.left-container{
  height: 100vh;
  background-color: #bb1542;
}

.right-container{
  height: 100vh;
  background-color: #daf1f9;
}

.nav-item{
  margin: 5px 5px 0;
  font-family: 'Acme', sans-serif;
}
.nav-bg{
  background-color: #bb1542;
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link{
  color:rgba(0,0,0,0.6);
}
.navbar-light .navbar-nav .nav-link:hover{
  color:white;
}


.img-profile{
  width: 12rem;
  height: 12rem;
  margin-top:10px; 
  margin: 0 auto 0;
  display: block;
}
.profile-para{
  margin-top:10px;
  color:white;
  font-size: 17px;
  font-family: 'Merienda', cursive;
  font-weight: bold;
}
